<div class="loader-spinner" ng-if="chatloader" id="chatloader">
    <div class="spinner-border-loader" role="status">
        <span class="sr-only-loader">Loading...</span>
    </div>
</div>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">

            <!-- /.col-lg-12 -->
            <div class="col-lg-12 ">
                <div class="report-page" style="display: flex; flex-flow: column;">
                        <!-- <iframe width="100%"
                            src="https://datastudio.google.com/embed/reporting/70eecf05-a38d-4a3c-94ee-9ddaa35e9d20/page/8kBlB" frameborder="0"
                            style="border:0;order: 2;border-top: 2px solid rgb(95, 160, 230);" allowfullscreen></iframe> -->
                            <!-- <iframe width="100%"
                            src="https://public.tableau.com/views/Test_16179487538910/Sheet1?:language=en-GB&:display_count=y&:origin=viz_share_link" frameborder="0"
                            style="border:0;order: 2;border-top: 2px solid rgb(95, 160, 230);" allowfullscreen></iframe> -->
                    <!-- <div class="rang-button" style="margin-bottom:10px;">
                        <div class="row">
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="daterange" />
                            </div>
                            <div class="col-md-2">
                                <button class="btn bg-primary" ng-click="exportCSV()">Export Demographics</button>
                            </div>
                        </div>
                    </div> -->
                    <div class="rang-button" style="margin-bottom:10px;">
                        <div class="row" style="margin-top: 20px; margin-bottom: 12px;">
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="errordaterange" />
                            </div>
                            <div class="col-md-2">
                                <button class="btn bg-primary" ng-click="exportErrorReportCSV()">Export Error Report</button>
                            </div>
                        </div>
                    </div>
                    <div class="rang-button" style="margin-bottom:10px;">
                        <div class="row" style="margin-top: 20px; margin-bottom: 12px;">
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="commentdaterange" />
                            </div>
                            <div class="col-md-2">
                                <button class="btn bg-primary" ng-click="exportCommentReportCSV()">Export Comment Report</button>
                            </div>
                        </div>
                    </div>
                    <div class="rang-button" style="margin-bottom:10px;">
                        <div class="row" style="margin-top: 20px; margin-bottom: 12px;">
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="somethingelsecommentdaterange" />
                            </div>
                            <div class="col-md-2">
                                <button class="btn bg-primary" ng-click="exportSomethingElseCommentReportCSV()">Export Something Else Report</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- <footer class="footer text-center font-400"> Copyright © 2018 by Zurick Artificial Intelligence, LLC | Powered by
        PrestoSolvo </footer> -->
</div>

<script>
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'right'
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });

        let today = new Date();
        let yesterday = new Date();
        yesterday.setDate(today.getDate() - 1);
        month = '' + (yesterday.getMonth() + 1),
            day = '' + yesterday.getDate(),
            year = yesterday.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        var yesterdayDate = [month, day, year].join('/');

        $('input[name="errordaterange"]').daterangepicker({
            opens: 'right',
            minDate: '02/24/2021',
            maxDate: yesterdayDate,
            endDate: yesterdayDate,
            startDate: yesterdayDate
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
        
        $('input[name="commentdaterange"]').daterangepicker({
            opens: 'right',
            minDate: '02/24/2021',
            maxDate: yesterdayDate,
            endDate: yesterdayDate,
            startDate: yesterdayDate
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });

        $('input[name="somethingelsecommentdaterange"]').daterangepicker({
            opens: 'right',
            minDate: '09/21/2021',
            maxDate: yesterdayDate,
            endDate: yesterdayDate,
            startDate: yesterdayDate
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });

    });
</script>